pkgbase = python-platformdirs
	pkgdesc = A library to determine platform-specific system directories
	pkgver = 4.0.0
	pkgrel = 1
	url = https://github.com/platformdirs/platformdirs
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pytest-mock
	checkdepends = python-appdirs
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	makedepends = python-hatch-vcs
	depends = python
	depends = python-typing_extensions
	source = python-platformdirs::git+https://github.com/platformdirs/platformdirs#commit=3935ea2cb801ae4a8a75da73bd49e52e0daaa01d
	b2sums = SKIP

pkgname = python-platformdirs
